/* General reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

ul {
	list-style: none;
}

/* Color selection */

.c-white {
	color: #fff;
}

.bg-white {
	background-color: #fff;
}

.c-black {
	color: #000;
}

.bg-black {
	background-color: #000;
}

.c-cyan {
	color: #B4D0E7;
}

.bg-cyan {
	background-color: #B4D0E7;
}

.bg-blue {
	background-color: #0061ff;
}

.bg-beige {
	background-color: #f6f6f6;
}

/* General Selector */

.disp-iblock {
	display: inline-block;
}

.disp-block {
	display: block;
}

.p-5-30{
	padding: 5px 20px;
}

.p-20 {
	padding: 20px;
}

.p-10-0{
	padding: 10px 0	;
}

.p-10{
	padding: 10px;
}

.pd-top-10{
	padding-top: 10px;
}

.pd-top-40 {
	padding-top: 40px;
}

.pd-top-80{
	padding-top: 80px;
}

.pd-top-150{
	padding-top: 150px;
}

.pad-bot-100{
	padding-bottom: 100px;
}

.txt-clear {
	text-decoration: none;
}

.p-rel {
	position: relative;
}

.p-abs {
	position: absolute;
}

.txt-center {
	text-align: center;
}

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.wdt-30 {
	width: 30%;
}

.wdt-15 {
	width: 15%;
}

.wdt-30{
	width: 30%;
}

.wdt-60 {
	width: 60%;
}

.wdt-70{
	width: 70%;
}

.vh-100 {
	height: 100vh;
}

.mg-zauto {
	margin: 0 auto;
}

.va-middle {
	vertical-align: middle;
}

.pl-40{
	padding-left: 40px;
}

.pr-40{
	padding-right: 40px;
}

.font-15{
	font-size: 1.5em;
}

.font-3{
	font-size: 3em;
}

.lh-2em{
	line-height: 2em;
}

.mg-bot-15{
	margin-bottom: 15px;
}